@model Building

@{
    ViewData["Title"] = "Delete Location";
}

<h1>Delete location</h1>

<h3>Do you want to delete this building?</h3>
<div>
    <h4>Building</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>

    @if (ViewBag.message != null)
    {
        <div class="alert alert-success">
            <strong>Gelukt!</strong> The location has been deleted!
        </div>
        <a asp-action="Locations">Back to locations</a>
    }

    else if (ViewBag.error != null)
    {
        <div class="alert alert-danger">
            <strong>Fout!</strong> The location cannot be found!
        </div>
        <a asp-action="Locations">Back to locations</a>
    }

    @if (ViewBag.message == null && ViewBag.error == null)
    {
        <form asp-action="DeleteLocation">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Locations">Back to locations</a>
        </form>
    }
</div>
